<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SitecoreMediaAnalyseImage.Azure.Ocp-Apim-Subscription-Key" value=""/>
      <setting name="SitecoreMediaTranslate.Azure.Ocp-Apim-Subscription-Key" value=""/>
    </settings>
    <processors>
      <uiUpload>
        <processor type="SitecoreMediaAI.ImageService, SitecoreMediaAI" mode="on" patch:before="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
  </sitecore>
</configuration>